# vscode
/.vscode/

# Node
node_modules
npm-debug.log*
.next
out

# Python
__pycache__
*.py[cod]
/backend/venv
/backend/.env
/backend/.env.production
.env
*.sqlite

# Database
*.db
/backend/db/sikapa.db
/backend/db/sikapa.db-journal
/backend/sikapa.db

# TLS certificates
/backend/certs/*.key
/backend/certs/*.pem
/backend/certs/*.crt

# mcp
/.vscode/mcp.json

# macOS
.DS_Store

# Android
*.iml
.gradle
/local.properties
/.idea
